.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-page {

    &__component {
        position: relative;

        & + & {
            margin-top: 40px;
        }
    }
}
