.user-control {
    min-width: 200px;
    margin: 10px;

    &__form {
        margin: -5px;
        
        & > * {
            margin: 5px;
        }
    }

    &__profile {
        display: grid;
        grid-template-columns: min-content max-content auto;
        grid-gap: 5px 10px;
        align-items: center;
        
        & > div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}